ELASTIC_USER={{ elastic_user }}
ELASTIC_PASSWORD={{ elastic_password }}
KIBANA_PASSWORD={{ kibana_password }}
STACK_VERSION={{ elk_stack_version }}
CLUSTER_NAME={{ elk_cluster_name }}
LICENSE={{ elk_license }}
ES_PORT={{ elasticsearch_port }}
KIBANA_PORT={{ kibana_port }}
LOGSTASH_PORT={{ logstash_port }}
MEM_LIMIT={{ elk_mem_limit | default(1073741824) }}
