filebeat.inputs:
  - type: filestream
    id: nginx-access
    paths:
      - /var/log/nginx/access.log
    fields:
      service: nginx
    fields_under_root: false

output.logstash:
  hosts: ["{{ vm2_ip }}:{{ logstash_port }}"]
